$base-black: #101010;
$light-black: #232323;
$base-gray: #868686;
$light-gray: #f3f3f3;
$base-white: #ffffff;
$base-green: #9effbf;
$base-violet: #7941a7;
$light-violet: #e2beff;
$base-blue: #1059c8;
